body {
    margin: 0 auto;
    padding: 200px;
    background-color: lightblue; 
}
.start {
    margin: 0 auto;
    padding: 0;
    max-height: 400px;
    text-align: center;
    width: 100%;
}
img {
    max-height: 400px;
}

.user {
    width: 8px;
    height: 8px;
    background-color: blue;
    border: 2px solid white;
    position: absolute;
    top: 200px;
    left: 200px;
}

.block {
    width: 8px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
    position: absolute;
}